@import "autocomplete";
@import "hods-loading-spinner";

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}
.long-word, .govuk-error-summary, .govuk-error-message {
  word-wrap: break-word;
}

.check-answer-all dl:nth-child(13n), .manage-contact-details > dl:nth-child(5n) {
  margin-bottom:0;
}

.no-border-bottom{
  border-bottom:none;
}

label[for="confirmation_0"] {
    padding-top: 0;
    font-weight: 600;
}

@media (min-width: 40.0625em) {
  .group-details-check-answer .govuk-summary-list__key
  {
    width: 42%;
  }
}

@media print {

  .govuk-link {
    pointer-events: none !important;
    cursor: default !important;
    text-decoration: none !important;
    color: black !important;
  }

  #print-this-page, .hmrc-sign-out-nav, .govuk-footer, #back-link  {
    display: none !important;
  }
  .govuk-grid-column-two-thirds {
    width:100%;
  }
  a[href]:after {
    content: none !important;
  }
}

// PIL-962 - override character count error message to bold
.govuk-character-count__message.govuk-character-count__status.govuk-error-message {
    font-weight: 700 !important;
}
.pillar2-task-list  ul.app-task-list__items {
  padding-left: 0;
}

div:has(div.hods-loading-spinner) { .govuk-grid-column-two-thirds {width:100%;} }


div:has(div.hods-loading-spinner) { .govuk-grid-column-two-thirds {width:100%;} }

.bankDetails .govuk-summary-list__row:nth-child(2n), .bankDetails .govuk-summary-list__row:nth-child(3){
  border-bottom: none;
}
.bankDetails .govuk-summary-list__row:last-child .govuk-summary-list__value, .bankDetails .govuk-summary-list__key{
  padding-top: 0;
}

.bankDetails .govuk-summary-list__row:nth-child(2n) dt, .bankDetails .govuk-summary-list__row:nth-child(3) dt{
  padding-bottom: 0;
  padding-top: 0;
}
.bankDetails .govuk-summary-list__row:nth-child(2n) .govuk-summary-list__value, .bankDetails .govuk-summary-list__row:nth-child(3) .govuk-summary-list__value{
  padding-bottom: 0;
  padding-top: 0;
}
.bankDetails  .govuk-summary-list__actions {
  padding-bottom: 0;
}

