.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

@media print {

  .govuk-link {
    pointer-events: none !important;
    cursor: default !important;
    text-decoration: none !important;
    color: black !important;
  }

  #print-this-page, .hmrc-sign-out-nav, .govuk-footer, #back-link  {
    display: none !important;
  }
  .govuk-grid-column-two-thirds {
    width:100%;
  }
  a[href]:after {
    content: none !important;
  }
}
